@font-face {
   font-family: 'Photograph Signature';
   font-display: swap;
   src: url('file:///C:/Users/thatk/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-02-10_044235/fonts/Photograph%20Signature/font.ttf');
}
